body {
    font-family: 'Arial', sans-serif;
    text-align: center;
    background: #fce4ec;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

button {
    padding: 10px 20px;
    margin-top: 20px;
    background-color: #ff5e5e;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #ff7675;
}

.hidden {
    display: none;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    font-size: 18px;
    margin: 5px 0;
}

#final-image {
    width: 300px;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
}
#text{
    font-weight:bolder;
}